*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #778beb;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding: 5% 7% 0;
}
.container h1{
    display: flex;
    align-items: center;
    color: #fff;
    margin-bottom: 20px;
}
.container h1 img{
    width: 50px;
}
.container button{
    display: flex;
    align-items: center;
    background: linear-gradient(#3a2692, #7158e2);
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 17px;
    color: #fff;
    margin-bottom: 20px;
    cursor: pointer;
}
.container button img{
    width: 20px;
    margin-right: 8px;
}
.noteInput{
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background-color: #fff;
    outline: 0;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    position: relative;
}
.noteInput img{
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 20px;
    cursor: pointer;
}